{% extends 'base.html' %}

{% load static %}

{% block title %}
    Log In
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 text-center mb-4">
      <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Litreview logo">
    </div>
  </div>
  <div class="row justify-content-around mt-5">
    <!-- Sign Up block -->
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title">Don't have an account?</h4>
        </div>
        <div class="card-body">
          <p class="text-muted">Sign up to get started!</p>
          <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
    <!-- Log In block -->
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title">Log In</h4>
        </div>
        <div class="card-body">
          <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
            <div class="mb-3">
              {{ form.password.label_tag }}
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
